/* form-control */
.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}
.form-label,
.form-select__label {
  margin-bottom: 0.375rem;
  color: var(--color-black-light);
  font-size: 0.75rem;
  line-height: 1.3;
}
.form-control {
  padding: 0.625rem 0.875rem;
  color: var(--color-black-light);
  font-size: 0.75rem;
  line-height: 1.5;
  background: var(--color-white-darker);
  border: 0;
  outline-color: var(--color-black-light);
}
input.form-control {
  height: 2.5rem;
}

/* form-select */
.form-select {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
  color: var(--color-black-light);
  font-size: 0.75rem;
}
.form-select__text-field {
  position: relative;
  min-height: 2.5rem;
  padding: 0.625rem 2rem 0.625rem 0.875rem;
  background-color: var(--color-white);
  border: 0;
  outline: none;
  transition: var(--transition);
  cursor: pointer;
}
.form-select__text-field span {
  display: block;
  max-width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-select__text-field::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/icons/arrow-drop-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}
.form-select__text-field._active::after {
  transform: translateY(-50%) rotate(180deg);
}
.form-select__list {
  display: none;
  position: absolute;
  top: 105%;
  left: 0.5rem;
  right: 0.5rem;
  max-height: 10rem;
  background-color: var(--color-white);
  border: 0;
  box-shadow: 0 0.375rem 0.625rem 0.125rem rgba(34, 60, 80, 0.2);
  z-index: 5;
  overflow-y: auto;
}
.form-select__item {
  padding: 0.625rem 0.875rem;
  cursor: pointer;
}
.form-select__item:hover {
  background: var(--color-white-dark);
}
.form-group.search-input {
  display: none;
  height: min-content;
  width: 100%;
  margin-right: 1rem;
}
.search-input .form-control {
  padding-right: 40px;
}
.search-input .form-input-clear-button {
  position: absolute;
  content: "";
  top: 50%;
  right: 0.5rem;
  padding: 5px;
  width: 24px;
  height: 24px;
  background-image: url(/icons/black-cross.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  cursor: pointer;
}