.gallery-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.slides__item {
  position: relative;
  display: none;
  padding: 0 0 60.267% 0;
}
.slides__item img,
.thumbnails__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.cursor {
  cursor: pointer;
}
.thumbnails {
  display: flex;
  gap: 20px;
}
.thumbnails__item {
  position: relative;
  width: 33.33%;
  padding: 0 0 18.27% 0;
}
img.active + .backdrop {
  position: absolute;
  content: '';
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-warning);
  opacity: 0.7;
  cursor: pointer;
  z-index: 1;
}
.active + .backdrop + .eye {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 48px;
  width: 48px;
  background-image: url('icons/eye.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}
@media screen and (max-width: 575.98px) {
  .gallery-slider {
    gap: 10px;
  }
  .thumbnails {
    display: flex;
    gap: 10px;
  }
  .active + .backdrop + .eye {
    height: 28px;
    width: 28px;
  }
}